/* polyx */

body,
html,
form {
    margin: 0;
    padding: 0;
}

body {
    --ff: 'Barlow', system-ui, 'Helvetica', sans-serif;

    --bg: #d9d9d9;
    --frost: #e9e9e9;
    --paper: #F9F9F9;
    --fg: #222;
    --light: #777;
}

.card {
    display: block;
    margin: 12px;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    overflow: hidden;
}

.block {
    padding: 8px 12px;
}

.light {
    color: var(--light);
    font-size: .825rem;
}

body {
    background: var(--bg);
}

html {
    font-size: 18px;
}

body,
button,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"],
textarea {
    font-size: 1rem;
    color: var(--fg);
    font-family: var(--ff);
    border: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"],
textarea {
    transition: background-color .2s;
}

textarea {
    height: 100%;
    flex-grow: 1;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

input[type="submit"] {
    -webkit-appearance: none;
}

a,
button,
input[type="submit"] {
    color: var(--fg);
    text-decoration: none;
    cursor: pointer;
}

button:hover,
button:focus,
input[type="submit"].card:hover,
input[type="submit"].card:focus {
    cursor: pointer;
    opacity: .75;
}

.bg {
    background: var(--bg);
}

.frost {
    background: var(--frost);
}

.paper {
    background: var(--paper);
}

/* polyx/mira */

body {
    max-width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.title {
    font-weight: bold;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: .4em;
}

.inputGroup:last-child {
    margin-bottom: 0;
}

.inputGroup .entries {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-word;
}

.searchBar {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.searchInput {
    /* webkit inserts weird margin */
    margin-right: -3px;
    width: 0;
    flex-grow: 1;
}

.addButton {
    margin: 0;
}

.matchCount {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: var(--light);
    pointer-events: none;
}

.split-h {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.split-v {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.buttonFooter {
    padding: 8px 12px;
    margin: 12px -12px -8px -12px;
}

.buttonArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contact-button {
    background: var(--paper);
    padding: 4px 6px;
}

.left .contact-button {
    margin-right: 8px;
}

.right .contact-button {
    margin-left: 8px;
}

.contact-list {
    margin-top: -12px;
}

.contact-item {
    cursor: pointer;
}

.contact-item.notEditing:hover {
    opacity: .75;
}

.contact-item .card {
    background: var(--bg);
}

.contact-single-items,
.contact-multi-items {
    box-sizing: border-box;
    width: 100%;
}

.contact-label {
    min-width: 2.5em;
    margin-right: .5em;
    color: var(--light);
    text-align: right;
}

.isEditing .contact-label {
    padding: 4px 6px;
}

.contact-input,
.contact-add-button {
    background: var(--frost);
    padding: 4px 6px;
    display: block;
    margin-bottom: .25em !important;
}

.contact-input:focus,
.contact-add-button:hover {
    background: var(--bg);
}

textarea.contact-input {
    height: 6em;
    resize: none;
}

footer {
    margin: 12px 0;
    text-align: center;
    width: 100%;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

@media only screen and (min-width: 42em) {
    .contact-single-items {
        padding-right: 1em;
    }
}
@media only screen and (max-width: 42em) {
    .editArea {
        flex-direction: column;
    }
    .contact-single-items {
        margin-bottom: .4em;
    }
}

@keyframes loader-slide {
    0% {
        transform: scaleX(1) translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: scaleX(1) translateX(100%);
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    background: var(--light);
    height: 4px;
    z-index: 10;

    animation: loader-slide linear 1s infinite;
    animation-direction: alternate;
}
